<div id="about" style="width: 75%;">
   <h3>About Gumshoe</h3>
	
		Gumshoe is a software which takes preventive actions on IBM Sterling B2B
		Integrator based on machine learning. It accurately calibrates the parameters
		for the future requirements depending on the past file transfer history.
	

	<h4> Advantage : </h4>
		- Customers can accurately predict the capacity. </br>
		- Customers can do auto scale up and scale down of application resources with no or minimum human intervention.</br>
	
</div>

