<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.butn {

    border: blue;
    color: #393D40;
    padding: 12px 16px;
    font-size: 11px;
    cursor: pointer;
		vertical-align: middle;                   
}


/* Darker background on mouse-over */
.butn:hover {
    background-color:yellow;
}
</style>
<div class="text" style="color:white  #D7E1EB;padding:0;background-color:#F5F5F1;height:75px ;">
	<h2 STYLE="display: block; position: absolute; top:0%; left:2%">GUMSHOE </h2><p align="right"><button align="right" class="butn"><h class="fa fa-home"></h></button>&nbsp<button class="butn"><i class="fa fa-bars"></i></button>&nbsp</P>
</div>
